@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/bebas_neue_regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Vasek';
  src: url('/fonts/Vasek-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .h3 {
    @apply uppercase text-white text-3xl/8 font-bold font-bebas tracking-[0.04em];
    /* @apply font-bebas font-bold tracking-wide leading-tight text-2xl; */
  }
  @screen md {
    .h3 {
      @apply text-3xl;
    }
  }
  @screen xl {
    .h3 {
      @apply text-[80px];
    }
  }
}

:root {
  font-family: 'Geist', Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

